@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 350px;
  height: 500px;
  margin: 0;
  padding: 0;
  background-color: #0B1120 !important;
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
