@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 17, 32;
  --background-end-rgb: 11, 17, 32;
}

@layer base {
  body {
    @apply font-sans bg-midnight text-white;
    font-family: var(--font-inter), sans-serif;
  }
  
  /* Force mono for code-like elements if needed */
  code, pre, .font-mono {
    font-family: var(--font-mono), monospace;
  }
}